:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: black;
    background-color: rgb(11, 7, 17);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5.5rem;
}

.navbar {
    position: fixed;
    z-index: 9999;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-nav::-webkit-scrollbar {
    width: 5px;
  }
  
  .navbar-nav::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #3498db, #5f27cd, #eb348d, #fd7272);
    
  }
  
  .navbar-nav::-webkit-scrollbar-track {
    background-color: #000000; 
  }
  
  .navbar-nav::-webkit-scrollbar-thumb:hover {
    background: #a829b9; 
  }
  
  .navbar-nav::-webkit-scrollbar-thumb {
    border-radius: 20px; 
  }


.nav-item {
    width: 100%;
}


.nav-item:hover .sub-menu{
    max-height: 300px;
}


.sub-menu{
    display: grid;
    cursor: pointer;
    width: 100%;
    background: rgb(0, 0, 0);
    max-height: 0; /* Establece la altura máxima inicial en 0 para ocultar el submenú */
    overflow: hidden; /* Oculta el contenido que excede la altura máxima */
    transition: max-height 0.7s ease-in-out;
}

.sub-menu a{
    width: 100%;
    font-weight: 500;
    padding: 20px 0px 20px 70px;
    background: #23232E;
    color: #3498db;
}

.sub-menu a:hover{
    color: white;
    background: #4e187a;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.num{
    padding: 3rem 30px;
    font-size: 2rem;
    font-weight: 900;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}


/* Small screens */

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    main{
        margin-left: 0px;
    }
}


/* Large screens */

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
    }
    .navbar:hover .logo svg {
        margin-left: 11rem;
    }
    .navbar:hover .logo-text {
        left: 0px;
    }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}



.btn-pantalla-completa {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed;
    right: 30px;
    top: 30px;
  }
  
  .svgIcon {
    width: 20px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .btn-pantalla-completa:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .btn-pantalla-completa:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .btn-pantalla-completa::before {
    position: absolute;
    bottom: -20px;
    content: "Pantalla Completa";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .btn-pantalla-completa:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  

  .typing {
    display: flex;
    height: auto;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: clamp(12px, 8vw, 50px);
    padding-left: 70px;
}

#typing::after {
    content: '|';
    position: relative;
    right: 0;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent
    }
    50% {
        color: yellow;
    }
}
